{
  "presets": [
    ["airbnb", {
      "targets": {
        "node": "6.10.2"
      }
    }]
  ],
  "plugins": [
    "fast-async",
    "add-module-exports"
  ],
  "ignore": [
    "**/*.test.js",
    "**/__mocks__"
  ]
}
